<div>
    <div class="card-body" style="width: 12rem;">
        <h5 class="card-title">{{nameProduct}}</h5>
        <p class="card-text text-break">{{description}}</p>
        <p>{{price}}€</p>
        <a href="/delete_ingredient?id={{_id}}">
            <button type="button" class="btn btn-danger">Borrar</button>
        </a>
    </div>
</div>